 .navbar6{
  font-family:"Arabic Typesetting", serif;
  /*font-family:"B-Nazanin";*/
  font-size:16pt;
}


.navbar-custom {
  background-color:#af0303;
    color:#ffffff;
    border-radius:0;
}
  
.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
  background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus 
.navbar-default .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: white;
}
     
.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}


.navbar-default{
  background-color:#af0303;
    /*color:#ffffff;*/
    /*border-radius:0;*/
/*    height:70px;
    padding-top: 8px;
    font-size: 16px;
    font-weight: bold;*/

}


.navbar-default .navbar-nav > li > a:not(.language):hover,
.navbar-default .navbar-nav > li > a:not(.language):focus,
/*.navbar-default .navbar-nav > .active > a:not(.language):hover,*/
/*.navbar-default .navbar-nav > .active > a:not(.language):focus,*/
.navbar-default .navbar-nav > .open >a {

    text-decoration: none;
    background-color: white;
    /*background-color: green;*/
    color:black;
}
/*.active{
  text-decoration: none;
  background-color:white;
  color:black;
}
*/
/*.navbar-default .navbar-nav > .active > a {
    color: #ffffff;
  background-color:transparent;
}*/

.navbar-default .navbar-brand {
    color:white;
}


.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
/*.navbar-default .navbar-nav .language > .active > a:hover,
.navbar-default .navbar-nav .language > .active > a:focus {*/
    text-decoration: none;
    background-color: white;
    /*background-color: green;*/
    color:black;
}

/*.navbar-default .navbar-nav .language{
  color:yellow;
  background-color:#af0303;
}*/
.navbar-default .navbar-nav a.language,
.navbar-default .navbar-nav a.language:hover,
.navbar-default .navbar-nav a.language:focus {
/*.navbar-default .navbar-nav .language > .active > a:hover,
.navbar-default .navbar-nav .language > .active > a:focus {*/
    text-decoration: none;
    color:white;
    background-color:#af0303;
}

.navbar-default .navbar-nav > li> a:not(.language) {
    color:white;
}

/*.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #ffffff;
}*/







.divide-nav{
  height: 50px;
  background-color: #428bca;
}

.divide-text{
    color:#fff;
    line-height: 20px;
    font-size:20px;
    padding: 15px 0;
}

.affix {
  top: 50px;
  width:100%;
}

.filler{
  min-height: 0px;
}

.navbar-form {
   padding-left: 0;
}

.navbar-collapse{
   padding-left:0; 
}







.brand6{
	/*width:30%;*/
	/*padding-top:3px;*/
	/*padding-bottom:50px;*/
	/*border:5px solid blue;*/ 
    /*padding-right: -400px;*/
    /*margin-top: :130px;*/
}
.navbar-brand > img {
      max-height: 350%;
      height: 350%;
      -o-object-fit: contain;
      object-fit: contain;
    }

.marginTop1{
	padding-top:90px;
}

.parallax1 {
    /* The image used */
    background-image: url("https://static.pexels.com/photos/487867/pexels-photo-487867.jpeg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("https://static.pexels.com/photos/40815/youth-active-jump-happy-40815.jpeg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax11 {
    /* The image used */
    background-image: url("apple.jpeg");

    /* Set a specific height */
    min-height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*.test{
	max-width: 1000px;
	border:5px solid blue;
}*/

/*.meteor-blog-aspect-ratio-placeholder{
	max-width:350px;
	max-height:350px;
}*/

/*.meteor-blog-post-thumbnail{
		width: 500%;
		height: 500%;
		max-width: 500%;
}*/
/*.meteor-blog-regular-image{
	max-width:400px;
	max-height:400px;
}*/


/*.meteor-blog-post-thumbnail.img{
	width: 150px;
	height: 120px;
}
*/



.thumbnail{
  height: 570px;
  max-height:570px;
  /*border-color: #B0C4DE;*/
  border-style: solid;
  border-width: 5px;
}
.thumbnail:hover{

  border-color: #0000FF;
  border-style: solid;
  border-width: 5px;
}
.excerpt{

  max-height: 120px;
  height: 120px;
  overflow : hidden;
  /*white-space : wrap;*/
}
.thumbnail-img{
  max-height: 300px;
  /*max-height: 400px;*/
  height: 300px;
  /*width: 200px;*/
}
/*.thumbnail{
  max-height: 650px;
  height: 650px;
}*/
.layout{
  /*font-family:"Arabic Typesetting", serif;*/
  /*font-family:"B-Nazanin";*/
  /*font-size:16pt;*/
}

/*.commentable-section{
  direction: rtl;
  unicode-bidi: isolate;
}*/
.rtl{
    direction: rtl;
    unicode-bidi: isolate;
}
.ltr{
    direction: ltr;
    unicode-bidi: isolate;
}
#myAudio {
    background-color: red;
}

.showBackgroundImage { 
  background: url('https://static.pexels.com/photos/267151/pexels-photo-267151.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.home-templ > img {
  position: absolute;
  top: 40px;
  /*left: 25px;*/
}

.home-templ .book-pen {
  z-index: 2;
  top: 40px;
  left: 500px;
}
.home-templ .ariana {
  border-style: solid;
  border-width: 10px;
  border-color: white;
  top: 150px;
  left: 20px;
  z-index: 3;
}
.home-templ .rose {
  z-index: 1;
  top:40px;
  /*left: 50px;*/
}

hr {
    background-color: purple !important;
    color: purple !important;
    border: solid 2px purple !important;
    height: 1px !important; 
}

.excerpt2{
  font-size: 20px;
  max-height: 226px;
  height: 226px;
  overflow : hidden;
  overflow:hidden;
    text-overflow: ellipsis;
    content: "";
    background: -webkit-linear-gradient(top,#000 70%, #fff);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  /*white-space : wrap;*/
}